<footer>
    <div class="w-full bg-gray-100 py-5 flex flex-col text-center space-y-1 ">
       <div class="text-2xl">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
       </div>
       <span>&copy; Wanderlust private Limited</span>
       <span>Privacy Terms</span>
    </div>
</footer>