<nav class="border-b w-full fixed bg-white z-10">
  <div class="flex px-5 py-4 justify-between">
    <a class="" href="#">
        <i class="fa-regular fa-compass"></i>
    </a>
    <button class="md:hidden" type="button">
      <span class="">
        <i class="fa-solid fa-bars"></i>
      </span>
    </button>
      <div class="text-[#222222] font-semibold space-x-5 hidden md:block">
        <a class="" href="/">Home</a>
        <a class="" href="/listings">All Listings</a>
        <a class="" href="/listings/new">Add New Listings </a>
      </div>
  </div>
</nav>
